:root {
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(254, 241, 233);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}

/*HEADER*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    gap: 5px;
    width: 100%;
    box-shadow: 0px 2px 2px rgb(225, 225, 225);
}

.logo {
    font-size: 78px;
    font-family: 'Tangerine', cursive;
    cursor: default;
}

.header-tabs {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 30px;
    letter-spacing: 3px;
    cursor: pointer;
}

.home-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
}

.menu-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
}

.contact-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
}

/* MAIN */
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 630px;
}

.home {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 102, 127);
    padding: 10px;
    height: 100%;
}

.home-content {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    background-color: rgb(255, 254, 252);
}

h2 {
    padding: 10px;
}

p {
    padding: 10px;
}

.menu {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    background-color: rgb(73, 102, 127);
    padding: 10px;
}

.item-one {
    background: url(./assets/1.jpg);
    background-size: 100% 100%;
    width: 300px;
    height: 220px;
}

.item-two {
    background: url(./assets/2.jpg);
    background-size: 100% 100%;
    width: 300px;
    height: 220px;
}


.item-three {
    background: url(./assets/3.jpg);
    background-size: 100% 100%;
    width: 300px;
    height: 220px;
}

.item-four {
    background: url(./assets/4.jpg);
    background-size: 100% 100%;
    width: 300px;
    height: 220px;
}

.item-five {
    background: url(./assets/5.jpg);
    background-size: 100% 100%;
    width: 300px;
    height: 220px;
}

.item-six {
    background: url(./assets/1.jpg);
    background-size: 100% 100%;
    width: 300px;
    height: 220px;
}


.contact {
    flex: 1;

}

/* FOOTER */

.footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(2, 2, 2);
    font-size: 12px;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
}


/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 52px;
    }
    .main{
        width: auto;
    }
    .home{
        padding: 10px;
    }

    .home-tab,
    .menu-tab,
    .contact-tab {
        width: auto;
    }

    .images {
        display: none;
    }
}